#main a, #main p, #main h1, #main h2, #main h3, #main h4, #main h5, #main h6, #main th, #main td, #main input{
    color: white;
}
#types li a {
    color: black;
}

body {
    background-color: #333028;
}

#sideBar {
    /*width: 25%;*/
}

.irs{
    transform: scaleY(1.2);
}

#logo {
    font-size: 35px;
}

tr {
    border-top: 1px solid rgba(137,0,255, 0.75);
    border-bottom: 1px solid rgba(137,0,255, 0.75);
}
thead tr{
    border:none;
}
.pagination li.active{
background-color: #512da8;
}
.btn,.btn:hover, .btn:visited, .btn:active{
    background-color: #512da8;
}


/*pagination*/
li.disabled a i, .pagination li.disabled a i{
    color:#999;
}

/*margins*/
.my1{
    margin:3% auto;
}



/*waves*/
.waves-effect.waves-purple .waves-ripple {
    background-color: rgba(81, 45, 168, 0.65);
}

.material-icons{
    vertical-align: middle;
}